@implements IDisposable
@inject NavigationManager NavigationManager


<div class="header">
    <nav class="navbar navbar-expand-sm bg-body w-100">
        <div class="container-fluid">
           <a href="/"> <img src="images/logo.png"  alt="Logo" style="height: 70px; margin-left: 30px; margin-top: 10px;" class="me-auto" /></a>
            <button class="navbar-toggler mt-5" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon" style=""></span>
            </button>
            <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
                <ul class="navbar-nav justify-content-center ms-auto">
                    <li class="nav-item">
                        <NavLink class="nav-link active text-black" href="/" Match="NavLinkMatch.All">Головна</NavLink>
                    </li>
                    <li class="nav-item">
                        <NavLink class="nav-link active text-black" href="Services">Сервіси</NavLink>
                    </li>
                    <li class="nav-item">
                        <NavLink class="nav-link active text-black" href="Team">Наша команла</NavLink>
                    </li>
                </ul>

                <AuthorizeView>
                    <Authorized>
                        <ul class="navbar-nav ms-auto">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-black" href="#" id="userDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    @context.User.Identity?.Name
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="userDropdown">
                                    <li><NavLink class="dropdown-item nav-link  active text-black" href="Account/Manage">Мій кабінет</NavLink></li>
                                    @if (context.User.IsInRole("User"))
                                    {
                                        <li><NavLink class="dropdown-item nav-link active text-black" href="myjobs">Мої візити</NavLink></li>
                                    }
                                    else if (context.User.IsInRole("Mechanic"))
                                    {
                                        <li><NavLink class="dropdown-item nav-link active text-black" href="myjobs">Мої візити</NavLink></li>
                                        <li><NavLink class="dropdown-item nav-link active text-black" href="jobs">Мої роботи</NavLink></li>
                                        <li><NavLink class="dropdown-item nav-link active text-black" href="tasks">Мої Завдання</NavLink></li>
                                        <li><NavLink class="dropdown-item nav-link active text-black" href="catalog">Каталог</NavLink></li>
                                    }
                                    else if (context.User.IsInRole("Admin"))
                                    {
                                        <li><NavLink class="dropdown-item nav-link active text-black" href="myjobs">Мої візити</NavLink></li>
                                        <li><NavLink class="dropdown-item nav-link active text-black" href="jobs">Роботи</NavLink></li>
                                        <li><NavLink class="dropdown-item nav-link active text-black" href="tasks">Завдання</NavLink></li>
                                        <li><NavLink class="dropdown-item nav-link active text-black" href="catalog">Каталог</NavLink></li>
                                        <li><NavLink class="dropdown-item nav-link active text-black" href="/Users">Користувачі</NavLink></li>
                                        <li><NavLink class="dropdown-item nav-link active text-black" href="/statistics">Статистика</NavLink></li>
                                        <li><NavLink class="dropdown-item nav-link active text-black" href="/retraining">Перетренування</NavLink></li>
                                    }
                                </ul>
                            </li>
                            <li class="nav-item">
                                <form action="Account/Logout" method="post">
                                    <AntiforgeryToken />
                                    <input type="hidden" name="ReturnUrl" value="@currentUrl" />
                                    <button type="submit" class="nav-link text-black">Вийти</button>
                                </form>
                            </li>
                        </ul>
                    </Authorized>
                    <NotAuthorized>
                        <ul class="navbar-nav ms-auto">
                            <li class="nav-item">
                                <NavLink class="nav-link active text-black" href="Account/Register">Зареєструватися</NavLink>
                            </li>
                            <li class="nav-item">
                                <NavLink class="nav-link active text-black" href="Account/Login">Увійти</NavLink>
                            </li>
                        </ul>
                    </NotAuthorized>
                </AuthorizeView>
            </div>
        </div>
    </nav>
</div>

    @code {
    private string? currentUrl;

    protected override void OnInitialized()
    {
        currentUrl = NavigationManager.ToBaseRelativePath(NavigationManager.Uri);
        NavigationManager.LocationChanged += OnLocationChanged;
    }

    private void OnLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        currentUrl = NavigationManager.ToBaseRelativePath(e.Location);
        StateHasChanged();
    }

    public void Dispose()
    {
        NavigationManager.LocationChanged -= OnLocationChanged;
    }

}

